@use "src/styles/variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  display: grid;
  min-height: calc(100vh - vars.$header-height);
  grid-template-columns: auto 1fr;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  font: inherit;
}
