@use "src/styles/variables" as vars;
@use "src/styles/mixins" as mixins;

.suggestions {
  font-family: vars.$font-main;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  border-left: 1px solid vars.$color-border;
}

.header {
  padding: vars.$pad-sm vars.$pad-md;
  border-bottom: 1px solid vars.$color-border;
  height: vars.$chat-header-height;
  display: flex;
  justify-content: space-between;
  gap: vars.$gap-md;
  align-items: center;
}

.title {
  font-size: vars.$font-lg;
}

.refreshButton {
  width: vars.$icon-md;
  height: vars.$icon-md;
  border-radius: 50%;
  border: none;
  background-color: #fff;
}

.refreshButton:hover {
  background-color: vars.$color-bg-hover;
}

.refreshIcon {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.relativeWrapper {
  position: relative;
  height: 100%;
}

.messageElementsWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
