@use "src/styles/variables" as vars;

.conversationList {
  font-family: vars.$font-main;
}

.searchWrapper {
  padding: vars.$pad-sm vars.$pad-md;
  border-right: 1px solid vars.$color-border;
  border-bottom: 1px solid vars.$color-border;
}

.search {
  border: none;
  height: vars.$font-lg;
  outline: none;
  color: vars.$color-text;
  font-size: vars.$font-lg;
}

.search::placeholder {
  color: vars.$color-placeholder;
  font-size: vars.$font-lg;
}
