@use "src/styles/variables" as vars;

.chatPage {
  height: 100%;
}

.title {
  padding: vars.$pad-sm vars.$pad-md;
  font-size: vars.$font-xl;
  color: vars.$color-title;
  font-family: vars.$font-main;
  border-bottom: 1px solid vars.$color-border;
}
