@use "src/styles/variables" as vars;

.navbar {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.icon {
  width: vars.$icon-md;
  height: vars.$icon-md;
}
